@import 
	"compass/reset", 
	"compass/css3", 
	"constants";

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	background: $bg;
	color: $text;
	font-family: Lato,Arial,sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: $strava;

	&:hover {
		color: $text;
		@include transition( color 0.2s linear );
	}
}

.block {
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;

	&.block-hidden {
		@include translateY(100%);
	}

	&.block-intro {
		text-align: center;

		.intro {
			position: absolute;
			top: 50%;
			width: 100%;

			margin: -220px 0 0;

			h2 {
				font-size: 30px;
				font-weight: 400;
				margin-bottom: 20px;
			}

			p {
				font-size: 16px;
				line-height: 24px;
			}
		}

		.link-login {
			display: block;
			width: 158px;
			height: 34px;

			position: absolute;
			top: 50%;
			left: 50%;
			margin: 100px 0 0 -79px;
		}
	}

	&.block-athlete {


		.athlete {

			background: #fff;

			width: 180px;
			height: 120px;

			border: 1px solid #eee; 
			
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -60px 0 0 -90px;
		}
	}
}